.heading {
  font-family: "Pacifico", cursive !important;
  font-style: italic;
  font-weight: bolder;
}

.fa-pizza-slice {
  font-size: 200%;
}

.pizzaTitle {
  font-family: "Pacifico", cursive !important;
}

a {
  font-family: "Bebas Neue", cursive;
}
